*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
}
*:focus-visible {
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

a, 
a:visited {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.header-nav__list {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px;
}

.header-nav__link {
    background-color: #007bff;
    padding: 10px 0;
    border-radius: 5%;
    margin: 10px 10px;
    text-align: center;
    flex: 1;
    max-width: 200px;
}

.header-nav__link:hover {
    background-color:  #0056b3;
    
}

.header-nav__link > a {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: white;
    width: 100%;
    display: block;
    padding: 10px 20px;
}

.main__title{
    text-align: center;
    margin: 20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
}

